<?xml version="1.0"?>
<config>
    <modules>
        <Glace_Dailydeal>
            <version>2.2.2</version>
        </Glace_Dailydeal>
    </modules>
    <frontend>
<!--        <secure_url>
           <dailydeal_index>/dailydeal/index/</dailydeal_index>
           <dailydeal_pass>/dailydeal/pass/</dailydeal_pass>
           <dailydeal_comming>/dailydeal/comming/</dailydeal_comming>
        </secure_url>-->

        <translate>
            <modules>
                <Glace_Dailydeal>
                    <files>
                        <default>Glace_Dailydeal.csv</default>
                    </files>
                </Glace_Dailydeal>
            </modules>
        </translate>
        <routers>
            <daily-deals>
                <use>standard</use>
                <args>
                    <module>Glace_Dailydeal</module>
                    <frontName>daily-deals</frontName>
                </args>
            </daily-deals>
        </routers>
        <events>       
            <sales_quote_item_qty_set_after>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>checkQuoteItemQty</method>
                    </dailydeal>
                </observers>
            </sales_quote_item_qty_set_after>
            <catalog_product_get_final_price>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>catalog_product_get_final_price</method>
                    </dailydeal>
                </observers>
            </catalog_product_get_final_price>
            <catalog_product_collection_load_after>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>catalogproduct_collectionload_after</method>
                    </dailydeal>
                </observers>
            </catalog_product_collection_load_after>			
							
            <checkout_cart_product_add_after>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>checkoutcart_productadd_after</method>
                    </dailydeal>
                </observers>
            </checkout_cart_product_add_after> 
            <!-- Den bc checkout thi event <sales_quote_save_after> dc thay bang event <sales_order_place_after>
                    				tranh dung <sales_order_save_after> vi event nay lap lai it nhat 2 lan
         			-->
            <sales_order_place_after>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>salesorder_placeafter</method>
                    </dailydeal>
                </observers>
            </sales_order_place_after>

            <checkout_cart_update_items_after>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>checkoutcart_updateitems_after</method>
                    </dailydeal>
                </observers>
            </checkout_cart_update_items_after>

            <checkout_onepage_controller_success_action>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>checkoutcart_productadd_after</method>
                    </dailydeal>
                </observers>
            </checkout_onepage_controller_success_action>

            <controller_action_layout_generate_blocks_before>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>controller_action_layout_generate_blocks_before</method>
                    </dailydeal>
                </observers>
            </controller_action_layout_generate_blocks_before>
            <!--
            <controller_front_init_before>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>checkLicense</method>
                    </dailydeal>
                </observers>
            </controller_front_init_before>
            --> 
        </events>
        <layout>
            <updates>
                <dailydeal>
                    <file>glace/dailydeal.xml</file>
                </dailydeal>
            </updates>
        </layout>
        <translate>
            <modules>
                <Glace_Dailydeal>
                    <files>
                        <default>Glace_Dailydeal.csv</default>
                    </files>
                </Glace_Dailydeal>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <dailydeal>
                <use>admin</use>
                <args>
                    <module>Glace_Dailydeal</module>
                    <frontName>dailydeal</frontName>
                </args>
            </dailydeal>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Glace_Dailydeal>
                    <files>
                        <default>Glace_Dailydeal.csv</default>
                    </files>
                </Glace_Dailydeal>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children><!-- !Important : to view groups of tab module-->
                                        <dailydeal module="dailydeal" translate="title">                                            
                                        </dailydeal> 
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <!--<core_block_abstract_to_html_before>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>BeforeRenderHtml</method>
                        <args>
                            <all_versions>1</all_versions>
                        </args>
                    </dailydeal>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>AfterRenderHtml</method>
                    </dailydeal>
                </observers>
            </core_block_abstract_to_html_after>
                             			<catalog_product_prepare_save>
                                        				<observers>
                                               					<dailydeal>
                                                          						<type>model</type>
                                                          						<class>Glace_Dailydeal_Model_Observer</class>
                                                          						<method>ProductPrepareSave</method>
                                               					</dailydeal>
                                        				</observers>
                             			</catalog_product_prepare_save>	
            <controller_action_predispatch_adminhtml>
                <observers>
                    <dailydeal>
                        <type>model</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>AdminControllerPredispatch</method>
                    </dailydeal>
                </observers>
            </controller_action_predispatch_adminhtml>-->
            <sales_order_save_after>
                <observers>
                    <dailydeal>
                        <type>singleton</type>
                        <class>Glace_Dailydeal_Model_Observer</class>
                        <method>orderSaveAfter</method>
                    </dailydeal>
                </observers>
            </sales_order_save_after>
        </events>

        <layout>
            <updates>
                <dailydeal>
                    <file>glace/dailydeal.xml</file>
                </dailydeal>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <dailydeal>
                <class>Glace_Dailydeal_Model</class>
                <resourceModel>dailydeal_mysql4</resourceModel>
            </dailydeal>
            <dailydeal_mysql4>
                <class>Glace_Dailydeal_Model_Mysql4</class>
                <entities>
                    <dailydeal>
                        <table>glace_dailydeal</table>
                    </dailydeal>
                    <dailydealactive>
                        <table>glace_dailydeal_active</table>
                    </dailydealactive>
                    <dealscheduler>
                        <table>glace_deal_scheduler</table>
                    </dealscheduler>
                    <dealschedulerproduct>
                        <table>glace_deal_scheduler_product</table>
                    </dealschedulerproduct>
                </entities>
            </dailydeal_mysql4>
        </models>
        <resources>
            <dailydeal_setup>
                <setup>
                    <module>Glace_Dailydeal</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dailydeal_setup>
            <dailydeal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dailydeal_write>
            <dailydeal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dailydeal_read>
        </resources>
        <blocks>
            <dailydeal>
                <class>Glace_Dailydeal_Block</class>
            </dailydeal>
        </blocks>
        <helpers>
            <dailydeal>
                <class>Glace_Dailydeal_Helper</class>
            </dailydeal>
        </helpers>
        
        
        <template>
            <email>
                <notification_admin_no_deal translate="label" module="dailydeal">
                    <file>glace_dailydeal/notification_admin_no_deal.html</file>
                    <type>html</type>
                </notification_admin_no_deal>
            </email>
        </template>
    </global>
    <default>
        <dailydeal>
            <general>
                <enabled>1</enabled>
                <sidebardeal>2</sidebardeal>
                <calendar>2</calendar>
                <sidebaractive>1</sidebaractive>
                <numberactive>3</numberactive>
                <deallayout>two_columns_right</deallayout>
                <showqty>1</showqty>
                <title>Today's Deal</title>
                <columncount>4</columncount>
                <productdetaillabel>Get it before it's gone!</productdetaillabel>
                <schemecolor>336699</schemecolor>
                <countdowncolor>336699</countdowncolor>
                <highlight_color>CC3333</highlight_color>
                <today_deal_show_detail>1</today_deal_show_detail>
                <catalog_list_show_image>1</catalog_list_show_image>
                <product_view_show_countdown>0</product_view_show_countdown>
                <sort_by>1</sort_by>
                <deal_qty_on_product_page><![CDATA[Hurry, there are only <span class="deal-qty">{{qty}} items</span> left!]]></deal_qty_on_product_page>
                <deal_qty_on_catalog_page><![CDATA[Hurry, just <span class="deal-qty">{{qty}} items</span> left!]]></deal_qty_on_catalog_page>
                <label_image></label_image>
            </general>
            
            <admin_notification>
                <notify_admin>1</notify_admin>
                <admin_email></admin_email>
            </admin_notification>
            
            <global_variable>
                <send_mail_admin_notification>1</send_mail_admin_notification>
                <template_id_no_deal>notification_admin_no_deal</template_id_no_deal>
            </global_variable>
        </dailydeal>
    </default>
    <crontab>
        <jobs>
            <glace_dailydeal_disable_product>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>dailydeal/observer::runCronInFiveMinute</model>
                </run>
            </glace_dailydeal_disable_product>
            <glace_dailydeal_auto_generate_deal>
                <schedule>
                    <cron_expr>0 23 * * *</cron_expr>
                </schedule>
                <run>
                    <model>dailydeal/observer::runCronAtTwentyThree</model>
                </run>
            </glace_dailydeal_auto_generate_deal>
        </jobs>
    </crontab>
</config>