<?xml version="1.0"?>
<!--
/**
 *
 * CART2QUOTE CONFIDENTIAL
 * __________________
 *
 *  [2009] - [2015] Cart2Quote B.V.
 *  All Rights Reserved.
 *
 * NOTICE OF LICENSE
 *
 * All information contained herein is, and remains
 * the property of Cart2Quote B.V. and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Cart2Quote B.V.
 * and its suppliers and may be covered by European and Foreign Patents,
 * patents in process, and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Cart2Quote B.V.
 *
 * @category    Ophirah
 * @package     Qquoteadv
 * @copyright   Copyright (c) 2015 Cart2Quote B.V. (http://www.cart2quote.com)
 * @license     http://www.cart2quote.com/ordering-licenses
 */
-->
<config>
    <modules>
        <Ophirah_Qquoteadv>
            <version>5.1.2</version>
        </Ophirah_Qquoteadv>
    </modules>
    <global>
        <models>
            <qquoteadv>
                <class>Ophirah_Qquoteadv_Model</class>
                <resourceModel>qquoteadv_mysql4</resourceModel>
            </qquoteadv>
            <!-- OPTIONAL: Enable to make the no-merge option available, also uncomment no_product_merge in system.xml -->
            <!--<sales>
                <rewrite>
                    <quote>Ophirah_Qquoteadv_Model_Override_Mage_Sales_Model_Quote</quote>
                </rewrite>
            </sales>-->
            <qquoteadv_mysql4>
                <class>Ophirah_Qquoteadv_Model_Mysql4</class>
                <entities>
                    <address>
                        <table>quoteadv_quote_address</table>
                    </address>
                    <quoteaddress>
                        <table>quoteadv_quote_address</table>
                    </quoteaddress>
                    <quoteshippingrate>
                        <table>quoteadv_shipping_rate</table>
                    </quoteshippingrate>
                    <qqadvcustomer>
                        <table>quoteadv_customer</table>
                    </qqadvcustomer>
                    <qqadvproduct>
                        <table>quoteadv_product</table>
                    </qqadvproduct>
                    <qqadvrotation>
                        <table>quoteadv_rotation</table>
                    </qqadvrotation>
                    <requestitem>
                        <table>quoteadv_request_item</table>
                    </requestitem>
                    <shippingrate>
                        <table>quoteadv_shipping_rate</table>
                    </shippingrate>
                    <product_attribute_group_allow>
                        <table>quoteadv_group_allow</table>
                    </product_attribute_group_allow>
                    <extraoptions>
                        <table>quoteadv_extraoptions</table>
                    </extraoptions>
                    <qqadvlogadmin>
                        <table>quoteadv_log_admin</table>
                    </qqadvlogadmin>
                    <quotetrail>
                        <table>quoteadv_audit_trail</table>
                    </quotetrail>
                    <product_attribute_tier_cost>
                        <table>quoteadv_tier_cost</table>
                    </product_attribute_tier_cost>
                    <tiercost>
                        <table>quoteadv_tier_cost</table>
                    </tiercost>
                    <qqadvproductdownloadable>
                        <table>quoteadv_product_downloadable</table>
                    </qqadvproductdownloadable>
                </entities>
            </qquoteadv_mysql4>
            <qquoteshiprate>
                <class>Ophirah_Qquoteadv_Model</class>
            </qquoteshiprate>
        </models>
        <resources>
            <qquoteadv_setup>
                <setup>
                    <module>Ophirah_Qquoteadv</module>
                    <class>Ophirah_Qquoteadv_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qquoteadv_setup>
            <qquoteadv_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qquoteadv_write>
            <qquoteadv_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qquoteadv_read>
        </resources>
        <blocks>
            <qquoteadv>
                <class>Ophirah_Qquoteadv_Block</class>
            </qquoteadv>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>Ophirah_Qquoteadv_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
            <!-- C2Quote Customer -->
            <adminhtml>
                <rewrite>
                    <customer_edit_tabs>Ophirah_Qquoteadv_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
                    <system_account_edit_form>Ophirah_Qquoteadv_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                    <permissions_user_edit_tab_main>Ophirah_Qquoteadv_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                </rewrite>
            </adminhtml>
            <!-- C2Quote Customer -->
        </blocks>
        <helpers>
            <qquoteadv>
                <class>Ophirah_Qquoteadv_Helper</class>
            </qquoteadv>
        </helpers>
        <template>
            <email>
                <qquoteadv_quote_emails_templates_new_account translate="label" module="qquoteadv">
                    <label>cart2quote new account</label>
                    <file>qquoteadv/qquoteadv_account_new.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_new_account>
                <qquoteadv_quote_emails_templates_request translate="label" module="qquoteadv">
                    <label>cart2quote request details</label>
                    <file>qquoteadv/qquoteadv_request_details.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_request>
                <qquoteadv_quote_emails_templates_request_common translate="label" module="qquoteadv">
                    <label>cart2quote request</label>
                    <file>qquoteadv/qquoteadv_request.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_request_common>
                <qquoteadv_quote_emails_templates_proposal translate="label" module="qquoteadv">
                    <label>cart2quote proposal</label>
                    <file>qquoteadv/qquoteadv_proposal.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal>
                <qquoteadv_quote_emails_templates_proposal_cancel translate="label" module="qquoteadv">
                    <label>cart2quote cancel</label>
                    <file>qquoteadv/qquoteadv_cancel.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_cancel>
                <qquoteadv_quote_emails_templates_proposal_reject translate="label" module="qquoteadv">
                    <label>cart2quote reject</label>
                    <file>qquoteadv/qquoteadv_reject.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_reject>
                <qquoteadv_quote_emails_templates_proposal_expire translate="label" module="qquoteadv">
                    <label>cart2quote expire</label>
                    <file>qquoteadv/qquoteadv_expire.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_expire>
                <qquoteadv_quote_emails_templates_proposal_reminder translate="label" module="qquoteadv">
                    <label>cart2quote reminder</label>
                    <file>qquoteadv/qquoteadv_reminder.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_reminder>
                <qquoteadv_quote_emails_templates_proposal_accepted translate="label" module="qquoteadv">
                    <label>cart2quote accepted</label>
                    <file>qquoteadv/qquoteadv_accepted.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_accepted>
                <qquoteadv_advanced_settings_checkout_checkout_alternative_email translate="label" module="qquoteadv">
                    <label>cart2quote alternative checkout</label>
                    <file>qquoteadv/qquoteadv_alternative.html</file>
                    <type>html</type>
                </qquoteadv_advanced_settings_checkout_checkout_alternative_email>
                <!-- responsive emails -->
                <qquoteadv_quote_emails_templates_new_account_responsive translate="label" module="qquoteadv">
                    <label>cart2quote new account responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_account_new.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_new_account_responsive>
                <qquoteadv_quote_emails_templates_request_responsive translate="label" module="qquoteadv">
                    <label>cart2quote request details responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_request_details.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_request_responsive>
                <qquoteadv_quote_emails_templates_request_common_responsive translate="label" module="qquoteadv">
                    <label>cart2quote request responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_request.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_request_common_responsive>
                <qquoteadv_quote_emails_templates_proposal_responsive translate="label" module="qquoteadv">
                    <label>cart2quote proposal responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_proposal.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_responsive>
                <qquoteadv_quote_emails_templates_proposal_cancel_responsive translate="label" module="qquoteadv">
                    <label>cart2quote cancel responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_cancel.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_cancel_responsive>
                <qquoteadv_quote_emails_templates_proposal_reject_responsive translate="label" module="qquoteadv">
                    <label>cart2quote reject responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_reject.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_reject_responsive>
                <qquoteadv_quote_emails_templates_proposal_expire_responsive translate="label" module="qquoteadv">
                    <label>cart2quote expire responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_expire.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_expire_responsive>
                <qquoteadv_quote_emails_templates_proposal_reminder_responsive translate="label" module="qquoteadv">
                    <label>cart2quote reminder responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_reminder.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_reminder_responsive>
                <qquoteadv_quote_emails_templates_proposal_accepted_responsive translate="label" module="qquoteadv">
                    <label>cart2quote accepted responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_accepted.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_proposal_accepted_responsive>
                <qquoteadv_advanced_settings_checkout_checkout_alternative_email_responsive translate="label" module="qquoteadv">
                    <label>cart2quote alternative checkout responsive</label>
                    <file>qquoteadv/qquoteadv_responsive_alternative.html</file>
                    <type>html</type>
                </qquoteadv_advanced_settings_checkout_checkout_alternative_email_responsive>
                <!-- free emails -->
                <qquoteadv_quote_emails_templates_request_free translate="label" module="qquoteadv">
                    <label>cart2quote request details (free)</label>
                    <file>qquoteadv/qquoteadv_request_details_free.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_request_free>
                <qquoteadv_quote_emails_templates_request_common_free translate="label" module="qquoteadv">
                    <label>cart2quote request (free)</label>
                    <file>qquoteadv/qquoteadv_request_free.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_request_common_free>
                <qquoteadv_quote_emails_templates_request_responsive_free translate="label" module="qquoteadv">
                    <label>cart2quote request details responsive (free)</label>
                    <file>qquoteadv/qquoteadv_responsive_request_details_free.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_request_responsive_free>
                <qquoteadv_quote_emails_templates_request_common_responsive_free translate="label" module="qquoteadv">
                    <label>cart2quote request responsive (free)</label>
                    <file>qquoteadv/qquoteadv_responsive_request_free.html</file>
                    <type>html</type>
                </qquoteadv_quote_emails_templates_request_common_responsive_free>
            </email>
        </template>
        <events>
            <customer_login>
                <observers>
                    <qquoteadv_save_before_observer>
                        <type>singleton</type>
                        <class>qquoteadv/customer_observer</class>
                        <method>before</method>
                    </qquoteadv_save_before_observer>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <qquoteadv_customer_logout>
                        <type>singleton</type>
                        <class>qquoteadv/customer_observer</class>
                        <method>updateCustomerQuoteadv</method>
                    </qquoteadv_customer_logout>
                </observers>
            </customer_logout>
            <catalog_product_load_after>
                <observers>
                    <qquoteadv_set_allowed_to_quote>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>setAllowedToQuoteMode</method>
                    </qquoteadv_set_allowed_to_quote>
                </observers>
            </catalog_product_load_after>
            <core_layout_update_updates_get_after>
                <observers>
                    <qquoteadv_qquoteadv>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>switchQuoteLayout</method>
                    </qquoteadv_qquoteadv>
                </observers>
            </core_layout_update_updates_get_after>
            <checkout_cart_product_add_after>
                <observers>
                    <qquoteadv_qquoteadv>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>setCustomPrice</method>
                    </qquoteadv_qquoteadv>
                </observers>
            </checkout_cart_product_add_after>
            <sales_quote_remove_item>
                <observers>
                    <qquoteadv_qquoteadv>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>disableRemoveQuoteItem</method>
                    </qquoteadv_qquoteadv>
                </observers>
            </sales_quote_remove_item>
            <sales_convert_quote_item_to_order_item>
                <observers>
                    <qquoteadv_logout>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>logoutFromQuoteConfirmationMode</method>
                    </qquoteadv_logout>
                </observers>
            </sales_convert_quote_item_to_order_item>
            <sales_convert_quote_to_order>
                <observers>
                    <qquoteadv_logout>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>addC2qRefNumber</method>
                    </qquoteadv_logout>
                </observers>
            </sales_convert_quote_to_order>
            <sales_order_place_after>
                <observers>
                    <qquoteadv_logout>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>setQuoteStatus</method>
                    </qquoteadv_logout>
                    <qquoteadv_update_iwd_sales_rep>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>setIwdSalesRep</method>
                    </qquoteadv_update_iwd_sales_rep>
                </observers>
            </sales_order_place_after>
            <controller_action_predispatch_checkout_cart_updatePost>
                <observers>
                    <qquoteadv_update_qty>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>disableQtyUpdate</method>
                    </qquoteadv_update_qty>
                </observers>
            </controller_action_predispatch_checkout_cart_updatePost>
            <controller_action_predispatch_checkout_cart_updateItemOptions>
                <observers>
                    <qquoteadv_update_options>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>disableUpdateItemOptions</method>
                    </qquoteadv_update_options>
                </observers>
            </controller_action_predispatch_checkout_cart_updateItemOptions>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <qquoteadv_update_qty>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>disableAddProduct</method>
                    </qquoteadv_update_qty>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <!-- backend: set custom price -->
            <sales_quote_add_item>
                <observers>
                    <qquoteadv_qquoteadv>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>setAdminCustomPrice</method>
                    </qquoteadv_qquoteadv>
                </observers>
            </sales_quote_add_item>
            <catalog_product_delete_after_done>
                <observers>
                    <qquoteadv_cancel_c2q>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>quoteCancelation</method>
                    </qquoteadv_cancel_c2q>
                </observers>
            </catalog_product_delete_after_done>
            <core_block_abstract_to_html_before>
                <observers>
                    <qquoteadv_class_listener>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>blockClassListener</method>
                    </qquoteadv_class_listener>
                </observers>
            </core_block_abstract_to_html_before>
            <adminhtml_catalog_product_edit_prepare_form>
                <observers>
                    <qquoteadv_add_group_allow>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>addAdminGroupAllow</method>
                    </qquoteadv_add_group_allow>
                    <qquoteadv_add_tier_cost_price>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>addCostTierPrice</method>
                    </qquoteadv_add_tier_cost_price>
                </observers>
            </adminhtml_catalog_product_edit_prepare_form>
            <sales_quote_item_qty_set_after>
                <observers>
                    <inventory>
                        <class>qquoteadv/observer</class>
                        <method>checkQuoteItemQty</method>
                    </inventory>
                </observers>
            </sales_quote_item_qty_set_after>
            <sales_quote_collect_totals_before>
                <observers>
                    <ophirah_qquoteadv>
                        <class>qquoteadv/observer</class>
                        <method>salesQuoteCollectTotalsBefore</method>
                    </ophirah_qquoteadv>
                </observers>
            </sales_quote_collect_totals_before>
            <ophirah_qquoteadv_address_collect_totals_before>
                <observers>
                    <ophirah_qquoteadv>
                        <class>qquoteadv/observer</class>
                        <method>ophirahQquoteadvAddressCollectTotalsBefore</method>
                    </ophirah_qquoteadv>
                </observers>
            </ophirah_qquoteadv_address_collect_totals_before>
            <ophirah_qquoteadv_addQuoteRequestItem_before>
                <observers>
                    <ophirah_qquoteadv>
                        <class>qquoteadv/module_observer</class>
                        <method>addFilterDataBeforeAitoc</method>
                    </ophirah_qquoteadv>
                    <ophirah_qquoteadv_pagecache>
                        <class>qquoteadv/pagecache</class>
                        <method>registerQuoteChange</method>
                    </ophirah_qquoteadv_pagecache>
                </observers>
            </ophirah_qquoteadv_addQuoteRequestItem_before>
            <ophirah_qquoteadv_delete_after>
                <observers>
                    <ophirah_qquoteadv_pagecache>
                        <class>qquoteadv/pagecache</class>
                        <method>registerQuoteChange</method>
                    </ophirah_qquoteadv_pagecache>
                </observers>
            </ophirah_qquoteadv_delete_after>
            <ophirah_qquoteadv_addSendMail_before>
                <observers>
                    <ophirah_qquoteadv>
                        <class>qquoteadv/observer</class>
                        <method>ophirahQquoteadvSendEmailBefore</method>
                    </ophirah_qquoteadv>
                </observers>
            </ophirah_qquoteadv_addSendMail_before>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <ophirah_qquoteadv>
                        <class>qquoteadv/observer</class>
                        <method>logAdminSession</method>
                    </ophirah_qquoteadv>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <ophirah_qquoteadv_addData_after>
                <observers>
                    <ophirah_qquoteadv>
                        <class>qquoteadv/observer</class>
                        <method>addDownloadableFrontend</method>
                    </ophirah_qquoteadv>
                </observers>
            </ophirah_qquoteadv_addData_after>
            <ophirah_qquoteadv_admin_swith2Quote_additem_after>
                <observers>
                    <ophirah_qquoteadv>
                        <class>qquoteadv/observer</class>
                        <method>addDownloadableBackend</method>
                    </ophirah_qquoteadv>
                </observers>
            </ophirah_qquoteadv_admin_swith2Quote_additem_after>
            <controller_action_predispatch>
                <observers>
                    <ophirah_qquoteadv>
                        <class>qquoteadv/observer</class>
                        <method>catchFatalError</method>
                    </ophirah_qquoteadv>
                    <ophirah_qquoteadv_prevent_cache>
                        <class>qquoteadv/pagecache</class>
                        <method>processPreDispatch</method>
                    </ophirah_qquoteadv_prevent_cache>
                </observers>
            </controller_action_predispatch>
            <admin_system_config_changed_section_qquoteadv_advanced_settings>
                <observers>
                    <ophirah_qquoteadv>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>defaultCart2quoteAttribute</method>
                    </ophirah_qquoteadv>
                </observers>
            </admin_system_config_changed_section_qquoteadv_advanced_settings>
            <admin_system_config_changed_section_qquoteadv_general>
                <observers>
                    <ophirah_qquoteadv_save_edition>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>saveCart2QuoteEdition</method>
                    </ophirah_qquoteadv_save_edition>
                    <ophirah_qquoteadv_save_expiry_date>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>saveCart2QuoteExpiryDate</method>
                    </ophirah_qquoteadv_save_expiry_date>
                    <ophirah_qquoteadv_save_trial_expired>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>saveCart2QuoteTrialExpired</method>
                    </ophirah_qquoteadv_save_trial_expired>
                </observers>
            </admin_system_config_changed_section_qquoteadv_general>
            <ophirah_qquotation_mysql_setup_end>
                <observers>
                    <ophirah_qquoteadv_save_edition>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>saveCart2QuoteEdition</method>
                    </ophirah_qquoteadv_save_edition>
                    <ophirah_qquoteadv_save_expiry_date>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>saveCart2QuoteExpiryDate</method>
                    </ophirah_qquoteadv_save_expiry_date>
                    <ophirah_qquoteadv_save_trial_expired>
                        <type>singleton</type>
                        <class>qquoteadv/observer</class>
                        <method>saveCart2QuoteTrialExpired</method>
                    </ophirah_qquoteadv_save_trial_expired>
                </observers>
            </ophirah_qquotation_mysql_setup_end>
        </events>
        <sales>
            <quote>
                <totals>
                    <c2qtotal>
                        <class>qquoteadv/quote_total_c2qtotal</class>
                        <after>nominal,subtotal,msrp</after>
                        <before>freeshipping,giftwrapping,weee,tax,grand_total</before>
                    </c2qtotal>
                </totals>
            </quote>
        </sales>
        <catalog>
            <product>
                <type>
                    <bundle>
                        <price_model>qquoteadv/bundle_product_price</price_model>
                    </bundle>
                </type>
            </product>
        </catalog>
    </global>
    <crontab>
        <jobs>
            <qquoteadv_update_status_request>
                <schedule>
                    <cron_expr>1 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>qquoteadv/observer::updateStatusRequest</model>
                </run>
            </qquoteadv_update_status_request>
            <qquoteadv_update_status_proposal>
                <schedule>
                    <cron_expr>30 6 * * *</cron_expr>
                </schedule>
                <run>
                    <model>qquoteadv/observer::updateStatusProposal</model>
                </run>
            </qquoteadv_update_status_proposal>
            <qquoteadv_qquoteadv_expire_email>
                <schedule>
                    <cron_expr>1 7 * * *</cron_expr>
                </schedule>
                <run>
                    <model>qquoteadv/cron::sendExpireEmail</model>
                </run>
            </qquoteadv_qquoteadv_expire_email>
            <qquoteadv_qquoteadv_reminder_email>
                <schedule>
                    <cron_expr>30 7 * * *</cron_expr>
                </schedule>
                <run>
                    <model>qquoteadv/cron::sendReminderEmail</model>
                </run>
            </qquoteadv_qquoteadv_reminder_email>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <directory>
                <args>
                    <modules>
                        <qquoteadv before="Mage_Directory_CurrencyController">Ophirah_Qquoteadv_Directory</qquoteadv>
                    </modules>
                </args>
            </directory>
            <qquoteadv>
                <use>standard</use>
                <args>
                    <module>Ophirah_Qquoteadv</module>
                    <frontName>qquoteadv</frontName>
                </args>
            </qquoteadv>
            <sales>
                <args>
                    <modules>
                        <qquoteadv before="Mage_Sales_DownloadController">Ophirah_Qquoteadv</qquoteadv>
                    </modules>
                </args>
            </sales>
        </routers>
        <layout>
            <updates>
                <ophirah_qquoteadv>
                    <file>qquoteadv.xml</file>
                </ophirah_qquoteadv>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ophirah_Qquoteadv>
                    <files>
                        <default>Ophirah_Qquoteadv.csv</default>
                    </files>
                </Ophirah_Qquoteadv>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <qquoteadv before="Mage_Adminhtml">Ophirah_Qquoteadv_Adminhtml</qquoteadv>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ophirah_qquoteadv>
                    <file>qquoteadv.xml</file>
                </ophirah_qquoteadv>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ophirah_Qquoteadv>
                    <files>
                        <default>Ophirah_Qquoteadv.csv</default>
                    </files>
                </Ophirah_Qquoteadv>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <qquoteadv_general>
            <quotations>
                <enabled>0</enabled>
                <active_c2q_tmpl>1</active_c2q_tmpl>
            </quotations>
        </qquoteadv_general>
        <qquoteadv_quote_frontend>
            <shoppingcart_quotelist>
                <disable_exist_account_check>1</disable_exist_account_check>
                <show_admin_login>0</show_admin_login>
            </shoppingcart_quotelist>
            <catalog>
                <layout_update_listgrid_activated>0</layout_update_listgrid_activated>
                <layout_update_detailpage_activated>0</layout_update_detailpage_activated>
                <ajax_add>0</ajax_add>
            </catalog>
        </qquoteadv_quote_frontend>
        <qquoteadv_quote_configuration>
            <expiration_times_and_notices>
                <expirtime_request>2</expirtime_request>
                <expirtime_proposal>3</expirtime_proposal>
                <send_reminder>2</send_reminder>
            </expiration_times_and_notices>
            <proposal>
                <qquoteadv_remark>We trust that you will find our quote satisfactory and look forward to working with you. Please contact us should you have any questions at all.</qquoteadv_remark>
                <quoteconfirmation>1</quoteconfirmation>
                <itemprice>1</itemprice>
                <adjustment>1</adjustment>
                <profit>1</profit>
            </proposal>
            <quote_number_format>
                <prefix>Q10.</prefix>
                <startnumber>0</startnumber>
                <increment>1</increment>
                <pad_number>5</pad_number>
            </quote_number_format>
        </qquoteadv_quote_configuration>
        <qquoteadv_quote_form_builder>
            <options>
                <require_shipping>0</require_shipping>
                <require_billing>0</require_billing>
                <newsletter_subscribe>0</newsletter_subscribe>
            </options>
            <account_details>
                <telephone>2</telephone>
                <company>1</company>
                <vattaxid>0</vattaxid>
            </account_details>
            <address_details>
                <state>2</state>
            </address_details>
        </qquoteadv_quote_form_builder>
        <qquoteadv_quote_emails>
            <sales_representatives>
                <sender>support</sender>
            </sales_representatives>
            <templates>
                <new_account>qquoteadv_quote_emails_templates_new_account</new_account>
                <request>qquoteadv_quote_emails_templates_request</request>
                <proposal>qquoteadv_quote_emails_templates_proposal</proposal>
                <proposal_reject>qquoteadv_quote_emails_templates_proposal_reject</proposal_reject>
                <proposal_cancel>qquoteadv_quote_emails_templates_proposal_cancel</proposal_cancel>
                <proposal_expire>qquoteadv_quote_emails_templates_proposal_expire</proposal_expire>
                <proposal_accepted>qquoteadv_quote_emails_templates_proposal_accepted</proposal_accepted>
            </templates>
            <attachments>
                <pdf>0</pdf>
                <doc>0</doc>
            </attachments>
        </qquoteadv_quote_emails>
        <qquoteadv_sales_representatives>
            <quote_assignment>
                <auto_assign_rotate>1</auto_assign_rotate>
                <auto_assign_login>1</auto_assign_login>
                <auto_assign_role>1</auto_assign_role>
            </quote_assignment>
        </qquoteadv_sales_representatives>
        <qquoteadv_advanced_settings>
            <general>
                <beta>0</beta>
                <force_log>0</force_log>
            </general>
            <frontend>
                <redirect_to_quotation>2</redirect_to_quotation>
            </frontend>
            <backend>
                <followup>0</followup>
                <calculate_quote_totals_on_load>1</calculate_quote_totals_on_load>
            </backend>
            <checkout>
                <checkout_url>checkout/onepage/index</checkout_url>
                <link_auto_login>0</link_auto_login>
                <checkout_alternative>0</checkout_alternative>
                <checkout_alternative_url>qquoteadv/index/quotesuccess</checkout_alternative_url>
                <checkout_alternative_email>qquoteadv_quote_advanced_checkout_alternative_email</checkout_alternative_email>
            </checkout>
            <quick_quote>
                <quick_quote_mode>0</quick_quote_mode>
            </quick_quote>
        </qquoteadv_advanced_settings>
        <carriers>
            <qquoteshiprate>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Ophirah_Qquoteadv_Model_Shipping_Carrier_Qquoteshiprate</model>
                <name>Qquote Shipping Proposal Name</name>
                <price>1000.00</price>
                <title>Qquote Shipping Proposal Method</title>
                <type>O</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>F</handling_type>
            </qquoteshiprate>
        </carriers>
    </default>
</config>
